extends ../layout
append content
block sideBarNav
    li.active
        a(href='/posts/addPost')
            | add new news
block date
    h1.page-header Dashboard
    if (message)
        div.alert.alert-info #{message}

    h2.sub-header All News
    .table-responsive
        table.table.table-striped
            thead
                tr
                    th #
                    th news
                    - var pid = JSON.stringify(post.quality)
                    if user
                        if user.votes.indexOf({pid}) >= 0 && user
                            th quality
                    th vote
                    th modifier
            tbody
                each post in posts
                    tr
                        td= post._id
                        td= post.news
                        - var pid = JSON.stringify(post.quality)
                        if user
                            if user.votes.indexOf({pid}) >= 0 && user
                                td= user.reputation
                        td
                            - var pid = JSON.stringify(post.quality)
                            if user
                                if user.votes.indexOf(  {pid}) >= 0 && user
                                    #{post.votes} vote(s)
                            else
                                a(href="/posts/fake/" + post._id)
                                    button(type="button") fake
                                a(href="/posts/not_fake/" + post._id)
                                    button(type="button") not fake
                        td
                            - var pid = JSON.stringify(post._id)
                            if user
                                if user.votes.indexOf({pid}) < 0 && user
                                    a(href="/posts/modifier_vote/" + post._id)
                                    button(type="button") modifierVote
                                //td sit
                else
                    tr There are no values
