extends ../layout
append content
block sideBarNav
    li.active
        a(href='/posts/addPost')
            | add new news
block date
    h1.page-header Dashboard
    if (message)
        div.alert.alert-info #{message}

    h2.sub-header All News
    .table-responsive
        table.table.table-striped
            thead
                tr
                    th #
                    th news
                    th quality
                    th truffleAccount
                    th vote
                    th modifier
            tbody
                each post in posts
                    tr
                        td= post._id
                        td= post.news
                        td= post.quality
                        td= post.truffleAccount
                        td
                            if post.votes.indexOf(userID) >= 0 && user
                                - if (post.votes.indexOf(userID));
                                #{post.votes.length} vote(s)
                            else
                                a(href="/posts/fake/" + post._id)
                                    button(type="button") fake
                                a(href="/posts/not_fake/" + post._id)
                                    button(type="button") not fake
                        td
                            if post.votes.length > 0 && user
                                - if (post.votes.indexOf(userID)+1)
                                    a(href="/posts/modifier_vote/" + post._id)
                                        button(type="button") modifierVote
                                //td sit
                else
                    tr There are no values
